title { font-family: serif; color: fuchsia; 
    font-style: italic;
    }
    body; colgroup;blockquote
    }
    margin: 0 auto;
    font-family:arial;

header{ 
    margin;grid-auto-flow: 
    margin-top; 30px;
    text align; 

}